@model Cliente

<br/>
@if(@Model == null)
{
    <h3>@ViewBag.Mensagem</h3>
}
else
{
    <h3>@ViewBag.Mensagem @Model.Nome</h3>
    <table class="table table-hover">
        <tr>
            <td>@Model.IdCliente</td>
            <td>@Model.Nome</td>
            <td>@Model.Email</td>
            <td>
                <a class="btn btn-sm btn-danger" href="/cliente/delete/@Model.IdCliente">Apagar</a>
                <a class="btn btn-sm btn-warning" href="/cliente/update">Editar</a>
            </td>

        </tr>
    </table>
}
<a class="btn btn-primary" href="/cliente/create">Adicionar</a>
